
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

header {
  background-color: black;
  height: 80px;
  text-align: center;
}

h1 {
  font-size: 44px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 10px;
}

.numberStyle {
  color: #ED458B;
  font-weight: 700;
}

.guesserStyle {
  color: #E6E7E8;
  font-weight: 300;
}

#guessBox {
  background-color: white;
  border: 2px solid #D0D2D3;
  display: block;
  font-size: 25px;
  height: 35px;
  margin: 30px auto;
  text-align: center;
  width: 300px;
}

.buttonBlock {
  margin: auto;
  width: 400px;
}

#guessBtn:disabled {
  background-color: #929497;
}

#guessBtn {
  background-color: #D0D2D3;
}

#clearBtn4:disabled {
  background-color: #929497;
}

#guessBtn, #clearBtn4 {
  background-color: #D0D2D3;
  border-radius: 25px;
  border: none;
  color: #FFFFFF;
  display: inline;
  font-size: 25px;
  font-weight: 300;
  height: 34px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  width: 175px;
}

.sentence {
  color: #404041;
  font-size: 28px;
  height: 35px;
  padding-top: 30px;
  text-align: center;
  width: auto;
}

#numberInput {
  color: #EB008B;
  display: block;
  font-size: 110px;
  font-weight: 300;
  height: 150px;
  margin: 30px auto;
  text-align: center;
  width: 150px;
}

#highLow {
  color: #404041;
  font-size: 25px;
  height: 85px;
  margin: auto;
  text-align: center;
  width: 270px;
}
#resetBtn:disabled {
  background-color: #929497;
}

#resetBtn {
  background-color: #D0D2D3;
  border-radius: 25px;
  border-style: hidden;
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  font-weight: 300;
  height: 35px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
  width: 300px;
}

@media only screen and (max-width: 440px) {

  #guessBox {
    margin: 50px auto;
  }

  #resetBtn {
    width: 240px;
  }

  #guessBox{
    width: 240px;
  }
  #guessBtn {
    display:block;
    margin: 10px auto;
  }
  #clearBtn4 {
    display: block;
    margin: auto;
  }
  .buttonBlock {
    width: 185px;
  }
  #highLow {
    height: 50px;
  }
  #inputNumber {
    margin: 10px 0px;
  }
  .sentence {
    padding: 0px;
  }
}
